<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
	<properties>
		<property name="appName">dubbo-app-web</property>
		<property name="appenderRef">console</property>
		<property name="pattern">[${appName}] %d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] (%c) [%X{requestId}]- %m%n</property>
	</properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" alwaysWriteExceptions="true" />
        </Console>
        
        <!-- <RollingRandomAccessFile name="file"
            fileName="/mnt/logs/${appName}/${appName}.log" filePattern="/mnt/logs/${appName}/${appName}-%d{yyyy-MM-dd}.log.%i">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] (%c) [%X{requestId}]- %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingRandomAccessFile> -->
    </Appenders>
    
    <Loggers>
        <AsyncRoot level="DEBUG" includeLocation="true">
            <AppenderRef ref="${appenderRef}" />
        </AsyncRoot>
        <AsyncLogger name="com.lieni" level="DEBUG" additivity="false" includeLocation="true">
        	<AppenderRef ref="${appenderRef}" />
        </AsyncLogger>
        <AsyncLogger name="org.springframework" level="INFO" additivity="false" includeLocation="true">
        	<AppenderRef ref="${appenderRef}" />
        </AsyncLogger>
        <AsyncLogger name="org.apache.ibatis" level="INFO" additivity="false" includeLocation="true">
        	<AppenderRef ref="${appenderRef}" />
        </AsyncLogger>
        <AsyncLogger name="org.mybatis" level="INFO" additivity="false" includeLocation="true">
        	<AppenderRef ref="${appenderRef}" />
        </AsyncLogger>
        <AsyncLogger name="com.alibaba" level="DEBUG" additivity="false" includeLocation="true">
        	<AppenderRef ref="${appenderRef}" />
        </AsyncLogger>
        <AsyncLogger name="java.sql" level="INFO" additivity="false" includeLocation="true">
        	<AppenderRef ref="${appenderRef}" />
        </AsyncLogger>
    </Loggers>
    
</Configuration>